<%# coding: UTF-8 %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="style.css" type="text/css" charset="UTF-8">
	<title><%=h filedata.id.to_s+'.'+filedata.ext %>のダウンロード</title>
</head>
<body><div id="main">
	<p>音楽用アップローダーから次のファイルをダウンロードします．続行するにはダウンロードをクリックしてください．</p>
	<div>
	<table border="1" width="836px">
	<tr class="title">
		<th width="32px">DL</th>
		<th width="64px">名前</th>
		<th width="412px">コメント</th>
		<th width="96px">容量</th>
		<th width="164px">日時</th>
		<th width="164px">ファイル名</th>
	</tr>
	<tr class="odd">
		<td><%=h filedata.dl_count %></td>
		<td><a href="file.cgi?id=<%=h filedata.id %>"><%=h filedata.id.to_s+'.'+filedata.ext %></a></td>
		<td><%= if filedata.dl_pass != "" then '<span class="key">[Key]</span>' else "" end %><%=h filedata.comment %></td>
		<td><%=h fileSizeToString(filedata.size) %></td>
		<td><%=h filedata.date.strftime("%Y/%m/%d %H:%M:%S") %></td>
		<td><%=h filedata.filename %></td>
	</tr>
	</table>
	</div>
	<br>
	<div><a href="<%= 'get.cgi?id='+filedata.id.to_s+'&pass='+CGI.escape(password) %>">ダウンロード</a></div>
	<br>
<% if $USE_MP3_PLAYER && (filedata.ext).downcase=='mp3' then %>
	<object type="application/x-shockwave-flash" data=<%= '"'+$MP3_PLAYER_URL+'"' %> width="400" height="20">
    	<param name="movie" value= <%= '"'+$MP3_PLAYER_URL+'"' %>/>
    	<param name="bgcolor" value="#ffffff" />
    	<param name="FlashVars" value="mp3=<%=CGI.escape $HTTP_PATH+'get.cgi?id='+filedata.id.to_s+'&pass='+CGI.escape(password) %>&amp;width=400&amp;loop=1&amp;autoload=1&amp;volume=100&amp;showstop=1&amp;showinfo=0&amp;showvolume=1&amp;showloading=always&amp;loadingcolor=989898" />
	</object>
<% end %>
	<hr>
	<p>
		<a href="#" onClick="history.back(); return false;">戻る</a>
	</p>
</div></body>
</html>
